.pretty-placeholder {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  transition-property: color, top, font-size;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.6, 0.9, 0.4, 1);
}
.pretty-placeholder.as-label {
  font-size: 0.75em;
  font-weight: bold;
  color: inherit;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff, 1px -1px 0 #ffffff, 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
